.greet-user-text {
    font-family: "Abril Fatface", serif;
    font-size: 3rem;
    margin-top: 22px;
}

.heading-question, .heading-question-para {
    font-family: Playfair, serif;
}

.heading-question {
    font-size: 2.7rem;
    margin-top: 10px;
}

.heading-question-para {
    font-size: 2rem;
    color: #3a2f2fa2;
}

button {
    background-color: var(--accent-color);
    font-family: Playfair, serif;
    color: white;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    font-size: 2.2rem;
    padding: 8px 22px;
    cursor: pointer;
    transition: 0.15s background-color, 0.15s border-color;
}

button:hover {
    background-color: #c9a98c;
    border-color: #c9a98c;
}

.add-prompt-button {
    margin-left: 10px;
}

.home-page-buttons-cont {
    margin-top: 25px;
    margin-bottom: 25px;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}