.home-page-subheader .lhs {
    display: flex;
    align-items: center;
    margin-top: 22px;
}

.greet-user-text {
    margin: 0;
    font-family: "Abril Fatface", serif;
    font-size: 3rem;
}

.home-page-subheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.your-journals-button {
    margin-left: 20px;
}