.journal-prompt {
    background-color: var(--card-color);
    border-radius: 4px;
    padding: 1.4rem 2rem;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.15s;
}

.journal-prompt:hover {
    background-color: var(--accent-color);
}

.journal-prompt:hover p {
    color: white;
}

.journal-prompt p {
    font-size: 2.4rem;
    font-family: Playfair, serif;
}