.user-journal {
    font-family: Playfair, serif;
    background-color: var(--card-color);
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 15px;
}

.user-journal h3 {
    font-size: 2.5rem;
    overflow-wrap: anywhere;
}

.open-journal-button, .delete-journal-button {
    font-size: 1.8rem;
    padding: 0.5rem 2rem;
}

.delete-journal-button {
    margin-left: 10px;
}

.user-journal .user-journal-content {
    font-size: 1.9rem;
    color: #3a2f2fde;
    margin: 12px 0 15px 0;
    line-height: 2.5rem;
}

.user-journal p {
    font-size: 1.8rem;
    margin-top: 5px;
    color: rgba(58, 47, 47, 0.631);
}

.user-journal p span {
    color: rgba(58, 47, 47, 0.631);
}