.user-prompt {
    font-family: Playfair, serif;
    font-size: 2rem;
    background-color: var(--card-color);
    padding: 1.5rem;
    margin-bottom: 2rem;
}

.delete-user-prompt-button {
    padding: 0.2rem 2rem;
    font-size: 2rem;
    margin-top: 12px;
}