* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #3A2F2F;
}

html {
  --bg-color: #FFF8F0;
  --accent-color: #C9A27E;
  font-size: 62.5%;
}

.page {
  background-color: var(--bg-color);
  height: 100vh;
  padding: 2rem 3rem;
}